/* Experiment */
details summary::-webkit-details-marker,
details summary::marker {
  content: "";
  display: none;
}
.details-container {
  max-width: 400px;
}

/* stylelint-disable property-disallowed-list */
/* stylelint-disable length-zero-no-unit */
summary.Heading3 {
  margin: 0px;
  display: flex;
  justify-content: space-between;
}

.summary-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.icon-chevron-down-wrapper {
  display: flex;
  justify-content: center;
  background: yellow;
}

.utrecht-accordion__panel {
  padding: var(--voorbeeld-space-block-snail);
}
