.voorbeeld-pre-footer {
  display: flex;
  justify-content: space-between;
  padding: var(--voorbeeld-space-block-pig);
}

@media screen and (max-width: 600px) {
  .voorbeeld-pre-footer {
    display: flex;
    flex-direction: column;
  }

  .voorbeeld-pre-footer-link:nth-of-type(2) {
    /* padding-block: var(--voorbeeld-space-inline-dog); */
    align-self: flex-end;
    justify-self: flex-end;
  }
}
