:root {
  --example-max-width: 1100px;
  --example-border-radius: 12px;
  --example-font-mono: ui-monospace, menlo, monaco, "Cascadia Mono", "Segoe UI Mono", "Roboto Mono", "Oxygen Mono",
    "Ubuntu Monospace", "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  --example-foreground-rgb: 0, 0, 0;
  --example-background-start-rgb: 214, 219, 220;
  --example-background-end-rgb: 255, 255, 255;
  --example-primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --example-secondary-glow: radial-gradient(rgb(255 255 255 / 100%), rgb(255 255 255 / 0%));
  --example-tile-start-rgb: 239, 245, 249;
  --example-tile-end-rgb: 228, 232, 233;
  --example-tile-border: conic-gradient(#00000080, #00000040, #00000030, #00000020, #00000010, #00000010, #00000080);
  --example-callout-rgb: 238, 240, 241;
  --example-callout-border-rgb: 172, 175, 176;
  --example-card-rgb: 180, 185, 188;
  --example-card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --example-foreground-rgb: 255, 255, 255;
    --example-background-start-rgb: 0, 0, 0;
    --example-background-end-rgb: 0, 0, 0;
    --example-primary-glow: radial-gradient(rgb(1 65 255 / 40%), rgb(1 65 255 / 0%));
    --example-secondary-glow: linear-gradient(
      to bottom right,
      rgb(1 65 255 / 0%),
      rgb(1 65 255 / 0%),
      rgb(1 65 255 / 30%)
    );
    --example-tile-start-rgb: 2, 13, 46;
    --example-tile-end-rgb: 2, 5, 19;
    --example-tile-border: conic-gradient(#ffffff80, #ffffff40, #ffffff30, #ffffff20, #ffffff10, #ffffff10, #ffffff80);
    --example-callout-rgb: 20, 20, 20;
    --example-callout-border-rgb: 108, 108, 108;
    --example-card-rgb: 100, 100, 100;
    --example-card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  margin-block-end: 0;
  margin-block-start: 0;
  margin-inline-end: 0;
  margin-inline-start: 0;
  padding-block-end: 0;
  padding-block-start: 0;
  padding-inline-end: 0;
  padding-inline-start: 0;
}

html,
body {
  max-inline-size: 100vw;
  overflow-x: hidden;
}

body {
  background: linear-gradient(to bottom, transparent, rgb(var(--example-background-end-rgb)))
    rgb(var(--example-background-start-rgb));
  color: rgb(var(--example-foreground-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
