body {
  margin-block: 0;
  margin-inline: 0;
}
.example--back-link {
  --utrecht-link-text-decoration: none;
}
.example--underlined {
  text-decoration: underline;
}

/* NLDS CSS Variables */
.utrecht-theme {
  --utrecht-space-around: 1;

  /* HACK: these tokens are not set in utrecht-theme */
  --utrecht-button-group-margin-block-end: 16px;
  --utrecht-button-group-margin-block-start: 16px;
  --utrecht-link-icon-size: 18px;
}

.voorbeeld-theme {
  /* HACK: these tokens are not set in voorbeeld-theme */
  --utrecht-space-around: 1;
  --utrecht-button-group-margin-block-end: 16px;
  --utrecht-button-group-margin-block-start: 16px;
  --utrecht-link-icon-size: 18px;
  --utrecht-radio-button-size: 1em;
  --utrecht-form-field-margin-block-end: 20px;
  --utrecht-page-footer-background-color: var(--voorbeeld-color-violet-700);
  --utrecht-spotlight-section-background-color: #f5f2ff;
  --utrecht-spotlight-section-color: #0a2750;
  --utrecht-heading-1-margin-block-start: 1.5em;
  --utrecht-heading-1-margin-block-end: 1.5em;
  --utrecht-page-content-padding-block-start: 1.5em;
  --utrecht-page-content-padding-block-end: 1.5em;
  --utrecht-page-padding-inline-start: 50px;
  --utrecht-page-padding-inline-end: 50px;
  --utrecht-paragraph-lead-line-height: 1.5;
  --utrecht-paragraph-margin-block-end: 0.5em;
  --utrecht-spotlight-section-padding-inline-end: 1.5em;
  --utrecht-spotlight-section-padding-inline-start: 1.5em;
  --utrecht-spotlight-section-padding-block-end: 1.5em;
  --utrecht-spotlight-section-padding-block-start: 1.5em;
  --utrecht-spotlight-section-margin-block-start: 1.5em;
  --utrecht-spotlight-section-margin-block-end: 1.5em;
  --utrecht-paragraph-lead-font-size: 20px;
}

.utrecht-form-fieldset__legend {
  --utrecht-form-fieldset-legend-font-weight: 700;
}

.utrecht-form-fieldset {
  margin-block-start: var(--voorbeeld-space-block-rabbit);
}

.utrecht-ordered-list__item::marker {
  color: #0a2750;
}
