body {
  margin-block: 0;
  margin-inline: 0;
}
.example--back-link {
  --utrecht-link-text-decoration: none;
}
.example--underlined {
  text-decoration: underline;
}

/* NLDS CSS Variables */
.utrecht-theme {
  /* HACK: these tokens are not set in utrecht-theme */
  --utrecht-space-around: 1;
  --utrecht-button-group-margin-block-end: 16px;
  --utrecht-button-group-margin-block-start: 16px;
  --utrecht-link-icon-size: 18px;
}

.voorbeeld-theme {
  /* HACK: these tokens are not set in voorbeeld-theme */
  --utrecht-form-field-description-margin-block-end: var(--voorbeeld-space-block-beetle);
  --utrecht-space-around: 1;
  --utrecht-button-group-margin-block-end: 16px;
  --utrecht-button-group-margin-block-start: 16px;
  --utrecht-link-icon-size: 18px;
  --utrecht-radio-button-size: 1em;
  --utrecht-form-field-margin-block-end: 20px;
  --utrecht-page-footer-background-color: var(--voorbeeld-color-violet-700);
  --utrecht-spotlight-section-background-color: #f5f2ff;
  --utrecht-spotlight-section-color: #0a2750;
  --utrecht-heading-1-margin-block-start: 1.5em;
  --utrecht-heading-1-margin-block-end: 1.5em;
  --utrecht-page-content-padding-block-start: 1.5em;
  --utrecht-page-content-padding-block-end: 1.5em;
  --utrecht-page-padding-inline-start: 50px;
  --utrecht-page-padding-inline-end: 50px;
  --utrecht-paragraph-lead-font-size: 20px;
  --utrecht-form-label-font-weight: var(--voorbeeld-typography-font-weight-bold);
  --utrecht-paragraph-lead: var(--voorbeeld-space-block-dog);
  --utrecht-article-max-inline-size: 670px; /* 75ch for Fira Sans in 16px font size = 670px */
  --utrecht-unordered-list-padding-inline-start: var(--voorbeeld-space-inline-beetle);
  --utrecht-unordered-list-item-margin-block-start: 12px;
  --utrecht-unordered-list-item-margin-block-end: 0;
  --utrecht-radio-button-background-color: white;
  --utrecht-radio-button-icon-size: 0%;
  --utrecht-radio-button-size: 1.5em;
  --utrecht-radio-button-checked-border-width: 0.6em;
  --utrecht-radio-button-checked-border-color: var(--voorbeeld-color-violet-700);
  --utrecht-radio-button-border-color: #7a8aa0;
  --utrecht-textbox-read-only-border-color: var(--utrecht-textbox-border-color);
  --utrecht-form-field-description-color: currentColor;
  --example-page-header-content-max-inline-size: calc(var(--utrecht-article-max-inline-size) * 1.5);

  --utrecht-action-submit-cursor: pointer;

  /* nav bar component */
  --example-nav-bar-content-max-inline-size: calc(var(--utrecht-article-max-inline-size) * 1.5);
  --example-nav-bar-link-padding-block-end: 16px;
  --example-nav-bar-link-padding-block-start: 16px;
  --example-nav-bar-link-padding-inline-end: 16px;
  --example-nav-bar-link-padding-inline-start: 16px;
  --example-nav-bar-background-color: #5315f6;
  --example-nav-bar-color: #fff;

  /* alert */
  --utrecht-alert-ok-background-color: #e4f9ea;
  --utrecht-alert-ok-border-color: #167e33;
  --utrecht-alert-icon-ok-color: #167e33;
  --utrecht-alert-padding-inline-start: var(--voorbeeld-space-inline-mouse);
  --utrecht-alert-padding-inline-end: var(--voorbeeld-space-inline-mouse);
  --utrecht-alert-padding-block-start: var(--voorbeeld-space-inline-mouse);
  --utrecht-alert-padding-block-end: var(--voorbeeld-space-inline-rat);
  --utrecht-alert-icon-gap: var(--voorbeeld-space-inline-beetle);
}

.voorbeeld-theme * + :is(.utrecht-heading-1, utrecht-heading-1, .utrecht-heading-2, utrecht-heading-2) {
  --utrecht-heading-2-margin-block-start: var(--voorbeeld-space-block-dog);
  --utrecht-heading-2-margin-block-end: var(--voorbeeld-space-block-rabbit);
  --utrecht-heading-1-margin-block-start: var(--voorbeeld-space-block-rabbit);
  --utrecht-heading-1-margin-block-end: var(--voorbeeld-space-block-rabbit);
}
/*
:is(
    .utrecht-heading-1,
    utrecht-heading-1,
    .utrecht-heading-2,
    utrecht-heading-2,
    .utrecht-heading-3,
    utrecht-heading-3,
    .utrecht-heading-4,
    utrecht-heading-4,
    .utrecht-heading-5,
    utrecht-heading-5,
    .utrecht-heading-6,
    utrecht-heading-6
  ) {
  --utrecht-heading-1-margin-block-start: 0 !important;
  --utrecht-heading-2-margin-block-start: 0 !important;
  --utrecht-heading-3-margin-block-start: 0 !important;
  --utrecht-heading-4-margin-block-start: 0 !important;
  --utrecht-heading-5-margin-block-start: 0 !important;
  --utrecht-heading-6-margin-block-start: 0 !important;
}
*/

.voorbeeld-title-paragraph {
  --utrecht-paragraph-margin-block-start: var(--voorbeeld-space-block-rabbit);
  --utrecht-paragraph-margin-block-end: var(--voorbeeld-space-block-rabbit);
}

.utrecht-form-fieldset__legend {
  --utrecht-form-fieldset-legend-font-weight: 700;
}

.utrecht-form-fieldset {
  margin-block-start: var(--voorbeeld-space-block-rabbit);
}

.utrecht-ordered-list__item::marker {
  color: #0a2750;
}

.voorbeeld-telefoon-textbox-small {
  width: 160px;
  margin-block-end: var(--voorbeeld-space-block-dog);
}

.voorbeeld-unordered-list-space {
  margin-block: var(--voorbeeld-space-block-snail);
}

.voorbeeld-chevron-right-space {
  margin-inline-start: var(--voorbeeld-space-inline-beetle);
}

.voorbeeld-page-content-flex {
  display: flex;
  flex-direction: column;
}

.voorbeeld-article-space {
  align-self: center;
}

.utrecht-paragraph {
  max-width: 80ch;
}

.utrecht-unordered-list {
  max-width: 80ch;
}

.utrecht-form-field-description {
  max-width: 80ch;
}

utrecht-page-content {
  /* use `auto` margins to center the page */
  margin-inline-start: auto;
  margin-inline-end: auto;
  max-inline-size: calc(
    var(--utrecht-article-max-inline-size) * 1.25
  ); /* random gekozen, groter dan --utrecht-article-max-inline-size */
}

.utrecht-page-footer__content {
  margin-inline-start: auto;
  margin-inline-end: auto;
  max-inline-size: calc(
    var(--utrecht-article-max-inline-size) * 1.5
  ); /* random gekozen, groter dan --utrecht-article-max-inline-size */
}

.utrecht-heading-1,
.utrecht-heading-2,
.utrecht-heading-3,
.utrecht-heading-4,
.utrecht-heading-5,
.utrecht-heading-6 {
  text-wrap: balance;
}

.utrecht-button-group--example-column {
  flex-direction: column;
}

@media screen and (-ms-high-contrast: active), screen and (forced-colors: active) {
  .utrecht-page-footer,
  utrecht-page-footer {
    border-block-start-color: currentColor;
    border-block-start-style: solid;
    border-block-start-width: 1px;
  }
}
