body {
  margin-block: 0;
  margin-inline: 0;
}

.utrecht-page-content {
  margin-block: 18px;
  margin-inline: 18px;
}

.utrecht-page-footer {
  --utrecht-page-footer-padding-block-end: 16px;
  --utrecht-page-footer-padding-block-start: 16px;
  --utrecht-page-footer-padding-inline-end: 48px;
  --utrecht-page-footer-padding-inline-start: 80px;
  --utrecht-heading-5-color: white;
  --utrecht-link-color: white !important;

  display: flex;
  justify-content: space-between;
}

.utrecht-link-list {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
}

.utrecht-link-list__item {
  display: inline-block;
  width: calc(100% / 4);
}

/* NLDS CSS Variables */
.utrecht-theme {
  --utrecht-space-around: 1;

  /* HACK: these tokens are not set in utrecht-theme */
  --utrecht-button-group-margin-block-end: 16px;
  --utrecht-button-group-margin-block-start: 16px;
  --utrecht-link-icon-size: 18px;
}

.voorbeeld-theme {
  --utrecht-space-around: 1;

  /* HACK: these tokens are not set in utrecht-theme */
  --utrecht-button-group-margin-block-end: 16px;
  --utrecht-button-group-margin-block-start: 16px;
  --utrecht-link-icon-size: 18px;
  --utrecht-radio-button-size: 1em;
  --utrecht-form-field-margin-block-end: 20px;
  --utrecht-page-footer-background-color: var(--voorbeeld-color-violet-700);
}

.utrecht-link {
  --utrecht-icon-inset-block-start: 0.2em;
}
