.example--header-home-page {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-block-start: 1em;
  margin-inline: 10em;
}

.example--logo {
  text-align: center;
}

/* block-size moet nog voor het search component toegevoegd worden */
.example--header-items {
  display: flex;
  height: 48px;
  justify-content: center;
}
.example--search-box {
  display: flex;
}
.example--header-links-container {
  align-items: center;
  display: flex;
}

.example--header-links {
  align-items: center;
  display: flex;
  margin-inline-end: 32px;
}

.example--header-user-icon {
  margin-inline-end: 4px;
}

.example--header-text-box {
  margin-inline: 8px;
}

.example--header-burger-menu-button {
  background-color: transparent;
  border-width: 0;
  color: var(--voorbeeld-color-violet-700);
  cursor: pointer;
  display: none;
}
.example--header-burger-menu-button:focus-visible {
  border-radius: 3px;
  box-shadow: 0 0 0 2px white;
  outline: 3px dotted black;
}

.example--header-bar {
  background-color: var(--voorbeeld-color-violet-700);
  border-radius: 10px;
  display: block;
  height: 2px;
  margin-block: 5px;
  -webkit-transition: all 0.3 ease-in-out;
  transition: all 0.3 ease-in-out;
  width: 25px;
}

.example--header-search-subtle-button {
  display: none;
}

.example--header-popover-menu {
  --utrecht-backdrop-opacity: 0.5%;

  border: none;
  height: 100%;
  padding-inline: 0;
  right: 50%;
  width: 50%;
}

.example--header-popover-menu::backdrop {
  --utrecht-backdrop-background-color: rgb(0 0 0 / 50%);
}

.example--popover-close {
  align-items: center;
  background: none;
  border: none;
  color: var(--voorbeeld-color-white);
  font-size: 1em;
  margin-block: 1em;
  margin-inline: 1em;
}

.example--header-xlogo {
  margin-inline-end: 0.5em;
}
.example--header-popover-container-button {
  display: flex;
  justify-content: flex-end;
}

@media (width <= 1185px) {
  .example--header-home-page {
    border-bottom: solid 4px #5315f6;
    margin-inline: auto;
    padding-block-end: 1em;
  }

  .example--header-popover-menu {
    background-color: var(--voorbeeld-color-violet-700);
  }

  .example--header-links {
    color: var(--voorbeeld-color-white);
    margin-inline: 0;
    padding-block: 12px;
    padding-inline: 1em;
  }

  .example--header-links:hover {
    background-color: var(--voorbeeld-color-violet-900);
    color: var(--voorbeeld-color-white);
  }

  .example--header-popover-container-links .example--header-links {
    font-weight: 700;
    text-decoration: none;
  }

  .example--header-user {
    margin-block: 1.5em;
  }

  .example--header-search-secondary-button {
    display: none;
  }

  .example--header-search-subtle-button {
    display: flex;
  }

  .example--header-links-container {
    display: none;
  }

  .example--header-text-box {
    display: none;
  }

  .example--header-burger-menu-button {
    align-items: center;
    display: flex;
    font-size: 1em;
  }

  .example--header-burger-bar-container {
    margin-inline-end: 4px;
  }

  .example--header-burger-menu-button.example--header-active .example--header-bar:nth-child(2) {
    opacity: 0%;
  }
  .example--header-burger-menu-button.example--header-active .example--header-bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .example--header-burger-menu-button.example--header-active .example--header-burger-bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

@media (width <= 400px) {
  .example--header-popover-menu {
    width: 75%;
  }
}
