.example--header-home-page {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-block: 1em;
  margin-inline: 10em;
}

.example--logo {
  text-align: center;
}

/* block-size moet nog voor het search component toegevoegd worden */
.example--header-items {
  display: flex;
  height: 48px;
  justify-content: center;
}
.example--search-box {
  display: flex;
  flex: 1;
}
.example--header-links-container {
  align-items: center;
  display: flex;
}

.example--header-links {
  align-items: center;
  display: flex;
  margin-inline-end: 32px;
}

.example--header-user-icon {
  margin-inline-end: 4px;
}

.example--header-text-box {
  margin-inline: 8px;
}
