.example--header-home-page {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin-block-start: 2em;
}

.example--logo {
  text-align: center;
  width: 50%;
}

/* block-size moet nog voor het search component toegevoegd worden */
.example--header-items {
  display: flex;
  flex: 1;
  height: 48px;
  justify-content: center;
  padding-inline-end: 1em;
}
.example--search-box {
  display: flex;
  flex: 1;
}
.example--header-links-container {
  align-items: center;
  display: flex;
}

.example--header-links {
  align-items: center;
  display: flex;
  margin-inline-end: 32px;
}

.example--header-user-icon {
  margin-inline-end: 4px;
}

.utrecht-textbox {
  margin-inline: 8px;
}
