.example--header-home-page {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin-block-start: 2em;
}

/* block-size moet nog voor het search component toegevoegd worden */
.example--header-items {
  display: flex;
  height: 48px;
  justify-content: space-evenly;
}
.example--search-box {
  display: flex;
  margin-inline: 1em;
}
.example--nav-links {
  align-items: center;
  display: flex;
  margin-inline: 1em;
}
.utrecht-link {
  margin-inline-end: 32px;
}
.utrecht-textbox {
  margin-inline: 8px;
}
