.utrecht-figure-details {
  block-size: revert;
  inset-inline-end: revert;
  padding-inline: 10px;
  padding-block: 10px;
  border-radius: 10px;
}

.utrecht-figure-details::backdrop {
  --utrecht-backdrop-background-color: black;
  --utrecht-backdrop-opacity: 0.5;
}
