.example-link-list-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.utrecht-link-list {
  -webkit-column-count: 1;
  -moz-column-count: 1;
  column-count: 1;
}

.example--footer-heading5 {
  display: flex;
  justify-content: column;
}

.utrecht-link-list-focus__item {
  --utrecht-paragraph-color: white;
}

.utrecht-link-list__item {
  --utrecht-paragraph-color: white;

  line-height: 2em;
}

.utrecht-link-list__item:last-child {
  max-width: 35ch;
}

@media screen and (width <= 960px) {
  .example-link-list-container {
    align-items: start;
    flex-direction: column;
    gap: 1em;
  }
}

.voorbeeld-navigation-list {
  padding-inline-start: 0;
}
.example-footer-content {
  margin-block-start: 1em;
  margin-inline-start: 2.5em;
}

.voorbeeld-footer-block {
  max-width: 50ch;
}
