.voorbeeld-navigation-list {
  -webkit-column-count: 1;
  -moz-column-count: 1;
  column-count: 1;
  margin-block-start: 0;
}

.denhaag-theme .voorbeeld-navigation-list__item {
  line-height: 2em;
  color: var(--denhaag-color-white);
}
