.voorbeeld-navigation-list {
  -webkit-column-count: 1;
  -moz-column-count: 1;
  column-count: 1;
}

.voorbeeld-navigation-list__item {
  line-height: 2em;
}

.voorbeeld-footer-link {
  --utrecht-link-text-decoration-color: var(--voorbeeld-color-white);
  --utrecht-link-hover-color: var(--voorbeeld-color-white);
}
