@mixin reset-address() {
  font-style: inherit;
  margin-block-start: 0;
  margin-block-end: 0;
}

/* stylelint-disable-next-line block-no-empty */
.utrecht-paragraph--voorbeeld-address {
}

.utrecht-paragraph--html-address {
  @include reset-address();
}
