/* HACK  should be a component 
https://www.figma.com/file/gX3fq7k0uUKC45AJbuItDv/Local---Voorbeeld---Bibliotheek?type=design&node-id=13-254&mode=dev */

.voorbeeld-button-group {
  --utrecht-button-group-inline-gap: 0;
}

.voorbeeld-spotlight-section-heading-style {
  --utrecht-heading-2-margin-block-end: var(--voorbeeld-space-block-rabbit);
  --utrecht-heading-2-margin-block-start: var(--voorbeeld-space-block-rabbit);
  --utrecht-heading-2-font-size: 24px;
}

.voorbeeld-ordered-list__item {
  --utrecht-ordered-list-item-margin-block-start: var(--voorbeeld-space-block-mouse);
  --utrecht-ordered-list-item-margin-block-end: var(--voorbeeld-space-block-mouse);
  --utrecht-ordered-list-font-size: var(--voorbeeld-typography-font-size-sm);
}

.voorbeeld-button-link-space {
  margin-block-start: var(--voorbeeld-space-block-rabbit);
}

.voorbeeld-heading-3-space {
  --utrecht-heading-3-margin-block-start: var(--voorbeeld-space-block-rabbit);
  --utrecht-heading-3-margin-block-end: var(--voorbeeld-space-block-mouse);
}

.utrecht-spotlight-section {
  --utrecht-spotlight-section-padding-inline-end: var(--voorbeeld-space-inline-rabbit);
  --utrecht-spotlight-section-padding-inline-start: var(--voorbeeld-space-inline-rabbit);
  --utrecht-spotlight-section-padding-block-end: var(--voorbeeld-space-block-rabbit);
  --utrecht-spotlight-section-margin-block-start: var(--voorbeeld-space-block-rabbit);
  --utrecht-spotlight-section-margin-block-end: var(--voorbeeld-space-block-rabbit);
  --utrecht-spotlight-section-background-color: var(--voorbeeld-color-violet-100);
  --utrecht-spotlight-section-color: var(--voorbeeld-color-violet-100);
  --utrecht-spotlight-section-border-width: 2px;
}
