/* HACK  should be a component 
https://www.figma.com/file/gX3fq7k0uUKC45AJbuItDv/Local---Voorbeeld---Bibliotheek?type=design&node-id=13-254&mode=dev */

.voorbeeld-spotlight-section-heading-style {
  --utrecht-heading-2-margin-block-end: var(--voorbeeld-space-block-rabbit);
  --utrecht-heading-2-margin-block-start: var(--voorbeeld-space-block-rabbit);
  --utrecht-heading-2-font-size: 24px;
}

.utrecht-ordered-list__item {
  --utrecht-ordered-list-item-margin-block-start: var(--voorbeeld-space-block-mouse);
  --utrecht-ordered-list-item-margin-block-end: var(--voorbeeld-space-block-mouse);
  --utrecht-ordered-list-font-size: var(--voorbeeld-typography-font-size-sm);

  color: #5315f6;
  text-decoration: underline;
}

.voorbeeld-button-link-space {
  margin-block-start: var(--voorbeeld-space-block-rabbit);
}

.voorbeeld-breadcrumb-text-decoration-skip-ink {
  text-decoration-skip-ink: none;
  --utrecht-link-hover-text-decoration: none;
}
