/* HACK  should be a component 
https://www.figma.com/file/gX3fq7k0uUKC45AJbuItDv/Local---Voorbeeld---Bibliotheek?type=design&node-id=13-254&mode=dev */
.utrecht-spotlight-section {
  --utrecht-heading-2-margin-block-end: 16px;
  --utrecht-heading-2-font-size: 20px;
  --utrecht-spotlight-section-padding-block-end: 150px;
}

.utrecht-ordered-list__item {
  --utrecht-ordered-list-item-margin-block-start: var(--voorbeeld-space-block-mouse);
  --utrecht-ordered-list-item-margin-block-end: var(--voorbeeld-space-block-mouse);
  --utrecht-ordered-list-font-size: var(voorbeeld-typography-font-weight-normal);

  color: #5315f6;
  text-decoration: underline;
}
