/* HACK these tokens are not yet defined in voorbeeld-thema */
.utrecht-radio-button {
  --utrecht-radio-button-background-color: white;
  --utrecht-radio-button-icon-size: 0%;
  --utrecht-radio-button-size: 1.5em;
  --utrecht-radio-button-checked-border-width: 0.5em;
  --utrecht-radio-button-checked-border-color: var(--voorbeeld-color-violet-700);
  --utrecht-radio-button-border-color: #7a8aa0;
}

.utrecht-textarea-beschrijving {
  height: 10.625em;
}

.utrecht-textarea-form {
  height: 6.125em;
}

/* Remove later: A component is going to be added instead */
.voorbeeld-svg-arrow {
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.29289 8.29289C5.68342 7.90237 6.31658 7.90237 6.70711 8.29289L12 13.5858L17.2929 8.29289C17.6834 7.90237 18.3166 7.90237 18.7071 8.29289C19.0976 8.68342 19.0976 9.31658 18.7071 9.70711L12.7071 15.7071C12.3166 16.0976 11.6834 16.0976 11.2929 15.7071L5.29289 9.70711C4.90237 9.31658 4.90237 8.68342 5.29289 8.29289Z' fill='%23001737'/%3E%3C/svg%3E%0A");
  background-position: calc(100% - 10px);
  background-repeat: no-repeat;
  background-size: auto 1.4em;
}

.voorbeeld-form-label {
  --utrecht-form-label-font-weight: 700;
}

.voorbeeld-last-of-block {
  margin-block-start: 4.5em;
}

.voorbeeld-begin-of-block {
  --utrecht-heading-4-margin-block-start: 4.5em;
}
