/* LAYOUT */
.voorbeeld-main-layout {
  display: flex;
}

/* BREADCRUMB */
.voorbeeld-breadcrumb-nav {
  margin: var(--voorbeeld-space-block-rabbit);
}

/* DETAILS */
details {
  color: var(--utrecht-paragraph-color);
  cursor: pointer;
}

details p {
  border: 1px solid var(--voorbeeld-color-gray-400);
  padding: var(--voorbeeld-space-block-rat);
}

/* FORM */

/* Step 3 */
.voorbeeld-paragraph-spotlight {
  display: flex;
  gap: var(--voorbeeld-space-block-beetle);
}

/* Formfield */
/* .utrecht-form-field-description-color {
  color: var(--voorbeeld-color-gray-500);
} */

/* Radiobuttons */
.voorbeeld-radio-buttons {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.voorbeeld-radio-button {
  display: flex;
  gap: var(--voorbeeld-space-block-beetle);
}

/*  */
.voorbeeld-link-stoppen {
  display: flex;
  margin-block-start: var(--voorbeeld-space-row-dog);
}
