/* LAYOUT */
.voorbeeld-main-layout {
  display: flex;
}

/* BREADCRUMB */
.voorbeeld-breadcrumb-nav {
  margin: var(--voorbeeld-space-block-rabbit);
}

/* FORM */

/* Step 3 */
.voorbeeld-paragraph-spotlight {
  display: flex;
  gap: var(--voorbeeld-space-block-beetle);
}

/* Formfield */
/* .utrecht-form-field-description-color {
  color: var(--voorbeeld-color-gray-500);
} */

/* Radiobuttons */
.voorbeeld-radio-buttons {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.voorbeeld-radio-button {
  display: flex;
  gap: var(--voorbeeld-space-block-beetle);
}

/*  */
.voorbeeld-link-stoppen {
  display: flex;
  margin: var(--voorbeeld-space-row-rat);
}
