.voorbeeld-page-content-flex {
  display: flex;
  flex-direction: column;
}

.voorbeeld-article-space {
  align-self: center;
}

.utrecht-spotlight-section-wmebv {
  --utrecht-spotlight-section-padding-inline-end: var(--voorbeeld-space-inline-rabbit);
  --utrecht-spotlight-section-padding-inline-start: var(--voorbeeld-space-inline-rabbit);
  --utrecht-spotlight-section-padding-block-end: var(--voorbeeld-space-block-rabbit);
  --utrecht-spotlight-section-margin-block-start: var(--voorbeeld-space-block-rabbit);
  --utrecht-spotlight-section-margin-block-end: var(--voorbeeld-space-block-rabbit);
  --utrecht-spotlight-section-background-color: var(--voorbeeld-color-green-100);
  --utrecht-spotlight-section-color: var(--voorbeeld-color-gray-900);
  --utrecht-spotlight-section-border-color: var(--voorbeeld-color-green-600);
  --utrecht-spotlight-section-border-width: 2px;
}

.voorbeeld-digid-logo {
  --utrecht-icon-size: 48px;
}

.utrecht-radio-button {
  --utrecht-radio-button-background-color: white;
  --utrecht-radio-button-icon-size: 0%;
  --utrecht-radio-button-size: 1.5em;
  --utrecht-radio-button-checked-border-width: 0.6em;
  --utrecht-radio-button-checked-border-color: var(--voorbeeld-color-violet-700);
  --utrecht-radio-button-border-color: #7a8aa0;
}

.voorbeeld-radio-button-form-label {
  --utrecht-form-label-font-weight: var(--voorbeeld-typography-font-weight-normal);
}
.voorbeeld-bijlage-flex-container {
  display: flex;
  align-items: center;
}

.paragraph-space-bijlagen {
  margin-inline-start: var(--voorbeeld-space-inline-mouse);
  --utrecht-paragraph-color: var(--utrecht-document-subtle-color);
}

.voorbeeld-paragraph-bijlage {
  --utrecht-paragraph-font-weight: var(--voorbeeld-typography-font-weight-bold);
  margin-inline-end: var(--voorbeeld-space-block-ant);
}

.voorbeeld-button-spacing {
  margin-block-start: var(--voorbeeld-space-block-dog);
  margin-block-end: var(--voorbeeld-space-block-rabbit);
}

.voorbeeld-link-spacing {
  margin-block-end: var(--voorbeeld-space-block-rabbit);
}

.voorbeeld-paragraph-end-space {
  margin-block-end: var(--voorbeeld-space-block-pig);
}

.voorbeeld-small-textbox-small {
  width: 328px;
}

.voorbeeld-smaller-textbox-small {
  width: 160px;
}

.voorbeeld-tiny-textbox-small {
  width: 120px;
}

.voorbeeld-datalist-style {
  background-color: aquamarine;
}
