.voorbeeld-page-content-flex {
  display: flex;
  flex-direction: column;
}

.voorbeeld-article-space {
  align-self: center;
}

.utrecht-spotlight-section-wmebv {
  --utrecht-spotlight-section-padding-inline-end: var(--voorbeeld-space-inline-rabbit);
  --utrecht-spotlight-section-padding-inline-start: var(--voorbeeld-space-inline-rabbit);
  --utrecht-spotlight-section-padding-block-end: var(--voorbeeld-space-block-rabbit);
  --utrecht-spotlight-section-margin-block-start: var(--voorbeeld-space-block-rabbit);
  --utrecht-spotlight-section-margin-block-end: var(--voorbeeld-space-block-rabbit);
  --utrecht-spotlight-section-background-color: var(--voorbeeld-color-green-100);
  --utrecht-spotlight-section-color: var(--voorbeeld-color-gray-900);
  --utrecht-spotlight-section-border-color: var(--voorbeeld-color-green-600);
  --utrecht-spotlight-section-border-width: 2px;
}
.voorbeeld-digid-logo {
  --utrecht-icon-size: 46px;
}

.bold-mail {
  font-weight: bold;
}

.mijn-omgeving {
  color: var(--voorbeeld-color-violet-700);
  text-decoration: underline;
}

.link {
  text-decoration: underline;
  text-decoration-color: var(--voorbeeld-color-violet-700);
  padding: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 20px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.breadcrumNav-link {
  padding-inline-start: 20px;
}

.paragraph_digid {
  --utrecht-paragraph-margin-block-end: var(--voorbeeld-space-block-rabbit);
}

.voorbeeld-link-spacing {
  margin-block: var(--voorbeeld-space-block-rabbit);
}

.voorbeeld-button-spacing-bestand-kiezen {
  margin-block-end: 3rem;
  margin-block-start: 0.75rem;
}

.paragraph-space-bijlagen {
  margin-block-start: -5.3rem;
  margin-inline-start: 10rem;
  margin-block-end: 5rem;
  color: var(--voorbeeld-color-gray-600);
}

.voorbeeld-paragraph-spacing-stapx {
  --utrecht-paragraph-margin-block-start: var(--voorbeeld-space-block-beetle);
}

.voorbeeld-heading-spacing {
  margin-block-start: -3rem;
}

.voorbeeld-smaller-textbox {
  --utrecht-textbox-margin-block-start: var(--voorbeeld-space-block-beetle);
  --utrecht-textbox-max-inline-size: 136px;
}

.voorbeeld-tiny-textbox {
  --utrecht-textbox-max-inline-size: 120px;
}

.voorbeeld-small-textbox {
  --utrecht-textbox-max-inline-size: 304px;
}

.voorbeeld-paragraph-spacing {
  margin-block-end: 2.5rem;
}

.voorbeeld-heading3-spacing {
  --utrecht-heading3-margin-block: var(--voorbeeld-space-block-snail);
}

.utrecht-data-list-label {
  --utrecht-data-list-margin-block-end: var(--voorbeeld-space-block-snail);
  --utrecht-data-list-margin-block-end: var(--voorbeeld-space-block-beetle);
}

.utrecht-data-list-value {
  margin-block-end: var(--voorbeeld-space-block-snail);
  margin-block-start: var(--voorbeeld-space-block-ant);
}

.voorbeeld-data-list-style {
  --utrecht-data-list-margin-top: var(--voorbeeld-space-block-rabbit);
}

.voorbeeld-data-list-label-spacer {
  border: 1px solid var(--voorbeeld-color-gray-200);
}

.voorbeeld-dat-list-label-spacer-1 {
  border: 1px solid var(--voorbeeld-color-gray-200);
  margin-block-end: 1.5rem;
}
