.example-foute-form-label {
  display: flex;
  font-weight: 700;
}

.example-foute-form-focus:focus {
  --utrecht-select-focus-border-color: var(--voorbeeld-color-gray-500);
  --utrecht-textbox-focus-border-color: var(--voorbeeld-color-gray-500);
  --utrecht-textarea-focus-border-color: var(--voorbeeld-color-gray-500);
  --utrecht-button-secondary-action-focus-background-color: transparent;
  --utrecht-button-secondary-action-focus-border-color: var(--voorbeeld-decoration-color);
  --utrecht-button-secondary-action-focus-color: var(--voorbeeld-decoration-color);
  --utrecht-button-primary-action-focus-background-color: var(--voorbeeld-decoration-background-color);
  --utrecht-button-primary-action-focus-color: var(--voorbeeld-color-white);
  --utrecht-focus-outline-color: transparent;
}
