.example-toptask-link {
  flex: calc(100% / 3);
  --utrecht-link-color: var(--voorbeeld-color-white);
  padding: var(--voorbeeld-space-inline-rabbit);
  background-color: var(--voorbeeld-color-violet-700);
  text-decoration: none;
}

.example-toptask-link:focus {
  --utrecht-link-focus-color: var(--voorbeeld-color-black);
}

.example-toptask-link:hover {
  --utrecht-link-hover-color: var(--voorbeeld-color-white);
  background-color: var(--voorbeeld-color-violet-900);
}

.example-toptask-link__icon {
  display: block;
  line-height: var(--line-height, 1.6);
  font-size: var(--voorbeeld-size-icon-2xl);
}

.example-toptask-link__title {
  padding-block-start: var(--voorbeeld-space-inline-rabbit);
  font-weight: var(--voorbeeld-typography-font-weight-medium);
}
