.example-toptask-link {
  flex: calc(100% / 3);
  padding: var(--voorbeeld-space-inline-rabbit);
  background-color: var(--voorbeeld-color-violet-700);
  text-decoration: none;
}

.example-toptask-link:focus-visible {
  border-radius: 3px;
  box-shadow: 0 0 0 2px var(--voorbeeld-color-white);
  outline: 3px dotted var(--voorbeeld-color-black);
}

.example-toptask-link__icon {
  display: block;
  line-height: var(--line-height, 1.6);
  color: var(--voorbeeld-color-white);
  font-size: var(--voorbeeld-size-icon-2xl);
}

.example-toptask-link__title {
  padding-block-start: var(--voorbeeld-space-inline-rabbit);
  color: var(--voorbeeld-color-white);
  font-weight: var(--voorbeeld-typography-font-weight-medium);
}
