.example-toptask-nav {
  display: grid;
  --voorbeeld-column-inline-size: calc(100% / 3 - var(--voorbeeld-space-block-mouse) * 0.7);
  grid-template-columns: repeat(3, var(--voorbeeld-column-inline-size));
  inline-size: 100%;
  gap: var(--voorbeeld-space-block-mouse);

  @media (max-width: 800px) {
    & {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 430px) {
    & {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
