.example-toptask-nav--grid {
  display: grid;
  grid-template-columns: 240px 240px 240px;
  gap: var(--voorbeeld-space-block-mouse);
  margin-inline: auto;
}

@media (max-width: 800px) {
  .example-toptask-nav--grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 430px) {
  .example-toptask-nav--grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
