.voorbeeld-drawer__header--sticky {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: white;
  border-bottom: 1px solid grey;
  height: 6em;
}

.voorbeeld--unorderedlist-lijst {
  list-style: none;
  padding-inline: 0;
  margin-inline: 1em;
}

.voorbeeld--unorderedlist-lijst li {
  margin-block: 12px;
}
