.voorbeeld-theme {
  background: skyblue;
}

.voorbeeld-drawer {
  /* this is where general styling goes for the drawer, like a shadow on the whole thing */
}

.voorbeeld-drawer--erfgoed-drawer {
  /* this is the exceptions for the Erfgoed drawer */
}

.voorbeeld-drawer__header {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-bottom: 1px solid grey;
  padding: 2em;
}

.voorbeeld-drawer__header h3 {
  align-self: center;
}

.voorbeeld-drawer__header--sticky {
  position: sticky;
  top: 0;
}

.voorbeeld--unorderedlist-lijst {
  list-style: none;
  padding-inline: 0;
  margin-inline: 1em;
}

.voorbeeld--unorderedlist-lijst li {
  margin-block: 12px;
}

.voorbeeld-drawer__button-update {
  /* */
}

.voorbeeld-drawer__button-close {
  /* */
}

.voorbeeld-drawer__details {
  /* */
}

.voorbeeld-drawer__datalist {
  /* */
}
